.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-size: 20vw;

  a {
    color: #fff200;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  video {
    height: auto;
    min-height: 100vh;
    width: auto;
  }
}

.titleContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  user-select: none;

  span {
    font-size: 38vw;
    color: #fff200;
  }

  .naf {
    letter-spacing: -4vw;
    margin-right: 6vw;
  }
  .ta {
    letter-spacing: -5.8vw;
    margin-right: 6vw;
  }
}

.descriptionContainer {
  width: 100vw;
  background: #fff200;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  padding: 2rem 1rem;
  user-select: none;

  .description {
    width: 75%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
  }
}

.reelContainer {
  background-color: black;
  height: 500px;
  position: relative;
  user-select: none;

  .reelText {
    z-index: 10;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: #fff200;
  }

  .buttonContainer {
    z-index: 10;
    width: 100%;
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: center;
  }

  .reelVideo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
      height: auto;
      min-height: 100%;
      width: auto;
    }
  }
}

.otherContainer {
  background-color: #fff200;
  height: 100vh;
  min-height: 500px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;

  .otherContainerInner {
    width: 47.05%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .titleBox {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 700;
      padding-bottom: 3rem;
      /* border-bottom: 15px solid black; */

      .beThe {
        font-size: 12rem;
        transform: scaleY(1.5);
        text-align: center;
      }

      .change {
        font-size: 10.1rem;
        text-align: center;
      }
    }
    .line {
      height: 1rem;
      width: 530px;
      background: black;
      margin-bottom: 4rem;
    }

    .press {
      width: 530px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .pressText {
        width: 100%;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
      }

      .pressButtons {
        margin-top: 2rem;
        div {
          margin: 0;
        }
      }
    }
  }
}

/* video {
   z-index: 1000;
}

#ps-header-bg-video {
   z-index: 1000;
   z-index: -1;
   width: 100%;
   height: 100%;
   object-fit: cover;
} */

@media (max-width: 949px) {
  .descriptionContainer {
    height: 100vh;
  }
}
@media (max-width: 1159px) {
  .otherContainer {
    .otherContainerInner {
      width: 70%;
    }
  }
}
@media (max-width: 783px) {
  .otherContainer {
    .otherContainerInner {
      .titleBox {
        .beThe {
          font-size: 10rem;
        }

        .change {
          font-size: 8.5rem;
        }
      }
      .line {
        width: 445px;
      }
      .press {
        width: 445px;
      }
    }
  }
}
@media (max-width: 656px) {
  .otherContainer {
    .otherContainerInner {
      .titleBox {
        .beThe {
          font-size: 8rem;
        }

        .change {
          font-size: 6.7rem;
        }
      }
      .line {
        width: 357px;
      }
      .press {
        width: 357px;
      }
    }
  }
}
@media (max-width: 527px) {
  .otherContainer {
    .otherContainerInner {
      .titleBox {
        .beThe {
          font-size: 5rem;
        }

        .change {
          font-size: 4.2rem;
        }
      }
      .line {
        width: 223px;
      }
      .press {
        width: 223px;

        .pressText {
          font-size: 1.8rem;
        }

        .pressButtons * {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-height: 800px) {
  .otherContainer {
    min-height: 800px;
  }
}

.marquee {
  background: black;
  color: #fff200;
  height: 3rem;
  font-size: 2rem;
  user-select: none;
}
