.logoContainer {
  user-select: none;
  span {
    font-size: 3.8rem;
    color: #fff200;
    font-weight: 600;
  }

  .naf {
    letter-spacing: -0.4rem;
    margin-right: 0.6rem;
  }
  .ta {
    letter-spacing: -0.58rem;
    margin-right: 0.6rem;
  }
}
