.button {
  width: fit-content;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  margin-top: 2rem;
  transition: background 0.5s ease;

  &:hover {
    background: black;

    .buttonText {
      color: #fff200;
    }
  }

  .buttonText {
    font-weight: 500;
    transition: color 0.5s ease;
  }
}
